.gif {
    box-sizing: border-box;
    border: .5rem solid #171717;
    background-color: #171717;
    margin: .5em;

    &__img {
        width: 100%;
        max-height: 200px;
        overflow: hidden;
    }

    &__title {
        color: #ffffff;
    }
}